body {
  font-family: "Montserrat", sans-serif;
  color: #ffff;
}
a {
  font-weight: bold;
}

.weather-app {
  background: #1a2639;
  background-repeat: no-repeat;
  background-size: contain;
  max-width: 600px;
  margin: 60px auto;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0 30px 50px rgba(65, 50, 100, 0.08);
}

header {
  border-bottom: 1px solid #f9f7fe;
  padding-bottom: 30px;
}
.search-form {
}
.search-input {
  font-family: "Montserrat", sans-serif;
  border: none;
  outline: none;
  border-radius: 11px;
  padding: 10px;
  color: rgba(39, 33, 66, 0.8);
  transition: 0.2s ease-in-out;
  width: 80%;
  padding-left: 10px;
  background: #ffffffc5;
  :focus {
    box-shadow: 0px 6px 9px #b4b4b4;
  }
}

.search-button {
  font-family: "Montserrat", sans-serif;
  border: none;
  padding: 10px 0;
  border-radius: 11px;
  color: #a6a6a6;
  transition: 0.2s ease-in-out;
  width: 15%;
  background: #ffffffc5;
  cursor: pointer;
}

main {
  padding: 30px 0;
}

.current-weather {
  display: flex;
  justify-content: space-between;
  margin-left: 30px;
}
.temperature-container {
  display: flex;
  justify-content: left;
}

.current-temperature-icon {
  width: 130px;
  height: 130px;
  position: relative;
}

.city-details {
  margin-right: 40px;
  text-align: right;
  color: #ffff;
}
.current-temperature-value {
  position: relative;
  font-size: 80px;
  font-weight: bold;
  top: 20px;
}

.current-temperature-unit {
  font-size: 28px;
  position: relative;
  top: 30px;
}
.current-city {
  font-size: 38px;
  font-weight: 900;
  margin-bottom: 0;
  color: #ffff;
}
.weather-conditions {
  font-weight: bold;
}
footer {
  border-top: 1px solid #f9f7fe;
  text-align: center;
  padding-top: 15px;

  color: #ffff;
}
.weather-forecast {
  display: flex;
  justify-content: space-around;
  margin-top: 30px;
}
.weather-forecast-date {
  text-align: center;
  color: rgba(39, 33, 66, 0.4);
  font-size: 16px;
  line-height: 20px;
  margin-bottom: 10px;
}

.weather-forecast-icon {
  width: 88px;
  height: 88px;
  display: block;
  margin: 0 auto;
}
.weather-forecast-temperatures {
  text-align: center;
  margin-top: 10px;
  display: flex;
  justify-content: center;
}
